html {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.App {
  background-color: #000000;
  min-height: 100vh;
  font-weight: 600;
}

.CustomNavbar, .DropNav, .CustomCarousel {
  background-color: #000000;
  padding: 20px;
}
#navbg { background-color: #000000;}
.CustomNavbar {
  margin-bottom: 20px;
}

.DropNav {
  margin-bottom: 20px;
}

.CustomCarousel {
  margin-bottom: 20px;
}
